<p>
    Terms of Service
</p>
<p>
    These Terms of Service constitute a legally binding agreement between you and FieldReport.App governing your use of
    the Platform (as defined below). Any data you submit or which we collect is governed by our
    Privacy Policy (“Privacy Policy”). You acknowledge that by using the platform you have
    reviewed the Privacy Policy. The Privacy Policy is incorporated by reference into these Terms of Service and
    together form and are hereinafter referred to as this “Agreement.” Your use of the platform constitutes your acceptance
    of and agreement to all of the terms and conditions in this Agreement and any future amendments and additions to
    this Agreement as we may publish from time to time.
</p>
<p>
    IF YOU DO NOT AGREE TO BE BOUND BY THIS AGREEMENT, YOU MAY NOT USE OR ACCESS THE FIELDREPORT.APP PLATFORM.
</p>
<p>
    User Representations and Warranties
</p>
<p>
    You represent and warrant that: (i) you are 18 years of age or older or are at least of the legally required age in
    the jurisdiction in which you reside, and are otherwise capable of entering into binding contracts, and (ii) you
    have the right authority and capacity to enter into this Agreement and to abide by the terms and conditions of this
    Agreement, and that you will so abide. Where you enter into this Agreement on behalf of a company or other
    organization, you represent and warrant that you have authority to act on behalf of that entity and to bind that
    entity to this Agreement.
</p>
<p>
    Mobile App Updates and Upgrades
</p>
<p>
    By installing the App, you consent to the installation of the App and any updates or upgrades that are
    released through the FieldReport.App platform. The App (including any updates or upgrades) may (i) cause your device
    to automatically communicate with FieldReport.App’s servers to deliver the App functionality and to record usage
    metrics, (ii) affect App-related preferences or data stored your device, and (iii) collect personal information as
    set out in our Privacy Policy. You can uninstall the App at any time.
</p>
<p>
    Termination and Suspension
</p>
<p>
    FieldReport.App may terminate or limit your right to use the FieldReport.App Platform in the event that we are
    investigating or believe that you have breached any provision of this Agreement (a “User Breach”), by providing you
    with written or email notice. Such termination or limitation will be effective immediately upon delivery of such
    notice. If FieldReport.App terminates or limits your right to use the FieldReport.App Platform pursuant to this
    Section, you are prohibited from registering and creating a new account under your name, a fake or borrowed name,
    or the name of any third party, even if you may be acting on behalf of the third party.
</p>
<p>
    Even after your right to use the FieldReport.App Platform is terminated or limited, this Agreement will remain
    enforceable against you. FieldReport.App reserves the right to take appropriate legal action, including but not
    limited to pursuing arbitration in accordance with these Terms of Service.
</p>
<p>
    FieldReport.App reserves the right to modify or discontinue, temporarily or permanently, all or any portion of the
    FieldReport.App Platform at its sole discretion. FieldReport.App is not liable to you for any modification or
    discontinuance of all or any portion of the FieldReport.App Platform. FieldReport.App has the right to restrict
    anyone from completing registration if FieldReport.App believes such person may threaten the safety
    and integrity of the FieldReport.App Platform, or if, in FieldReport.App’s discretion, such restriction is necessary
    to address any other reasonable business concern.
</p>
<p>
    You may terminate this Agreement at any time by ceasing all use of the FieldReport.App Platform. All parts of this
    Agreement which by their nature should survive the expiration or termination of this Agreement shall continue in
    full force and effect subsequent to and notwithstanding the expiration or termination of this Agreement.
</p>
<p>
    Account, Password, Security, and Mobile Phone Use
</p>
<p>
    You must register with FieldReport.App and create an account to use the FieldReport.App Platform (an “Account”). You
    are the sole authorized user of your Account. You are responsible for maintaining the confidentiality of any log-in,
    password, and account number provided by you or given to you by FieldReport.App for accessing the FieldReport.App
    Platform. You are solely and fully responsible for all activities that occur under your password or Account, even if
    not authorized by you. If you are accessing and using the FieldReport.App Platform on someone else’s behalf, you
    represent that you have the authority to bind that person as the principal to all Terms provided herein.
    FieldReport.App has no control over the use of any User’s account and expressly disclaims any liability derived
    therefrom. Should you suspect that any unauthorized party may be using your password or account or you suspect any
    other breach of security, you agree to contact FieldReport.App immediately.
</p>
<p>
    User Generated Content
</p>
<p>
    “User Generated Content” is defined as any content, information, and materials that may be textual, audio, or visual that you provide, submit, upload, publish, or make otherwise available to the FieldReport.App Platform and its Users. You are solely responsible for User Generated Content, and we act merely as a passive conduit for your online distribution and publication of your User Generated Content. You acknowledge and agree that FieldReport.App:
</p>
<p>
    Is not involved in the creation or development of User Generated Content.
</p>
<p>
    Disclaims any responsibility for User Generated Content.
</p>
<p>
    Cannot be liable for claims arising out of or relating to User Generated Content.
</p>
<p>
    Is not obligated to monitor, review, or remove User Generated Content, but reserves the right to limit or remove
    User Generated Content on the FieldReport.App Platform at its sole discretion.
</p>
<p>
    You hereby represent and warrant to FieldReport.App that your User Generated Content (i) will not be false,
    inaccurate, incomplete or misleading; (ii) will not infringe on any third party’s copyright, patent, trademark,
    trade secret or other proprietary right or rights of publicity, personality or privacy; (iii) will not violate any
    law, statute, ordinance, or regulation (including without limitation those governing export control, consumer
    protection, unfair competition, anti-discrimination, false advertising, anti-spam or privacy); (iv) will not be
    defamatory, libelous, unlawfully threatening, or unlawfully harassing; (v) will not be obscene or contain
    pornography (including but not limited to child pornography) or be harmful to minors; (vi) will not contain any
    viruses, Trojan Horses, worms, time bombs, cancelbots or other computer programming routines that are intended to
    damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal
    information; (vii) will not represent you being employed or directly engaged by or affiliated with FieldReport.App
    or purport you to act as a representative or agent of FieldReport.App; and (viii) will not create liability for
    FieldReport.App or cause FieldReport.App to lose (in whole or in part) the services of its ISPs or other partners or
    suppliers.
</p>
<p>
    You hereby grant FieldReport.App a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable
    (through multiple tiers) right to exercise all copyrights, publicity rights, and any other rights you have in your
    User Generated Content, in any media now known or not currently known in order to perform and improve upon the
    FieldReport.App Platform.
</p>
<p>
    Links to Third-Party Websites
</p>
<p>
    The FieldReport.App Platform may contain links (such as hyperlinks) to third-party websites. Such links do not
    constitute endorsement by FieldReport.App or association with those websites, their content or their operators. Such
    links (including without limitation external websites that are framed by the FieldReport.App Platform as well as any
    advertisements displayed in connection therewith) are provided as an information service, for reference and
    convenience only. FieldReport.App does not control any such websites, and is not responsible for their (i)
    availability or accuracy, or (ii) content, advertising, products, or services. It is your responsibility to evaluate
    the content and usefulness of the information obtained from other websites. You acknowledge and agree that
    FieldReport.App is not involved in the creation or development of third-party websites and disclaims any
    responsibility for third-party websites, and cannot be liable for claims arising out of or relating to third-party
    websites. Further, you acknowledge and agree that FieldReport.App has no obligation to monitor, review, or remove
    links to third-party websites, but reserves the right to limit or remove links to third-party websites on the
    FieldReport.App Platform at its sole discretion.
</p>
<p>
    The use of any website controlled, owned or operated by third parties is governed by the terms and conditions of use
    and privacy policies for those websites. You access such third-party websites at your own risk. FieldReport.App
    expressly disclaims any liability arising in connection with your use and/or viewing of any websites or other
    material associated with links that may appear on the FieldReport.App Platform. You hereby agree to hold
    FieldReport.App harmless from any liability that may result from the use of links that may appear on the
    FieldReport.App Platform.
</p>
<p>
    As part of the functionality of the FieldReport.App Platform, you may link your account with online accounts you may
    have with third party service providers (such as Facebook and Stripe) (each such account, a “Third-Party Account”)
    by either: (i) providing your Third-Party Account login information through the FieldReport.App Platform; or (ii)
    allowing FieldReport.App to access your Third-Party Account, as is permitted under the applicable terms and
    conditions that govern your use of each Third-Party Account. You represent that you are entitled to disclose your
    Third-Party Account login information to FieldReport.App and/or grant FieldReport.App access to your Third-Party
    Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of
    the terms and conditions that govern your use of the applicable Third-Party Account and without obligating
    FieldReport.App to pay any fees or making FieldReport.App subject to any usage limitations imposed by such
    third-party service providers. By granting FieldReport.App access to any Third-Party Accounts, you understand that
    (1) FieldReport.App may access, make available and store (if applicable) any content that you have provided to and
    stored in your Third-Party Account (the “SNS Content”) so that it is available on and through the FieldReport.App
    Platform via your account, including without limitation any friend lists, and (2) FieldReport.App may submit and
    receive additional information to your Third-Party Account to the extent you are notified of this when you link your
    account with the Third-Party Account. Unless otherwise specified in these Terms of Service, all SNS Content, if any,
    shall be considered to be User Generated Content. Depending on the Third-Party Accounts you choose, and subject to
    the privacy settings that you have set in such Third-Party Accounts, personally identifiable information that you
    post to your Third-Party Accounts may be available on and through your account on the FieldReport.App Platform.
    Please note that if a Third-Party Account or associated service becomes unavailable or FieldReport.App’s access to
    such Third-Party Account is terminated by the third-party service provider, then SNS Content may no longer be
    available on and through the FieldReport.App Platform. You will have the ability to disable the connection between
    your account on the FieldReport.App Platform and your Third-Party Accounts at any time, as set forth below. PLEASE
    NOTE THAT YOUR RELATIONSHIP WITH THE THIRD-PARTY PROVIDERS ASSOCIATED WITH YOUR THIRD-PARTY ACCOUNTS IS GOVERNED
    SOLELY BY YOUR AGREEMENT(S) WITH SUCH THIRD PARTY PROVIDERS. FieldReport.App makes no effort to review any SNS
    Content for any purpose, including but not limited to, for accuracy, legality, or non-infringement, and
    FieldReport.App is not responsible for any SNS Content.
</p>
<p>
    Intellectual Property Rights
</p>
<p>
    All text, graphics, editorial content, data, formatting, graphs, designs, HTML, look and feel, photographs, music,
    sounds, images, software, videos, designs, trademarks, logos, typefaces and other content (collectively “Proprietary
    Material”) that Users see or read through the FieldReport.App Platform is owned by FieldReport.App, excluding User
    Generated Content, which Users hereby grant FieldReport.App a license to use. Proprietary Material is protected in all
    forms, media and technologies now known or hereinafter developed. FieldReport.App owns all Proprietary Material, as well
    as the coordination, selection, arrangement and enhancement of such Proprietary Materials as a Collective Work under the
    United States Copyright Act, as amended. The Proprietary Material is protected by the domestic and international laws
    governing copyright, patents, and other proprietary rights. Users may not copy, download, use, redesign, reconfigure, or
    retransmit anything from the FieldReport.App Platform without FieldReport.App’s express prior written consent and, if
    applicable, the holder of the rights to the User Generated Content.
</p>
<p>
    Any use of such Proprietary Material, other than as permitted therein, is expressly prohibited without the prior
    permission of FieldReport.App and, if applicable, the holder of the rights to the User Generated Content.
</p>
<p>
    The service marks and trademarks of FieldReport.App, including without limitation FieldReport.App and FieldReport.App
    logos, are service marks owned by FieldReport.App. Any other trademarks, service marks, logos and/or trade names
    appearing via the FieldReport.App Platform are the property of their respective owners. You may not copy or use any of
    these marks, logos or trade names without the express prior written consent of the owner.    
</p>
<p>
    Additionally, you may choose to or we may invite you to submit comments, ideas, or feedback about the FieldReport.App
    Platform, including without limitation about how to improve our services or our products (“Feedback”). By submitting any
    Feedback, you agree that your disclosure is gratuitous, unsolicited, and without restriction and will not place
    FieldReport.App under any fiduciary or other obligation, and that we are free to use the Feedback without any additional
    compensation to you, and/or to disclose the Feedback on a non-confidential basis or otherwise to anyone. You further
    acknowledge that, by acceptance of your submission, FieldReport.App does not waive any rights to use similar or related
    Feedback previously known to FieldReport.App, developed by its employees, or obtained from sources other than you. You
    acknowledge that all email and other correspondence that you submit to us shall become our sole and exclusive property.    
</p>
<p>
    Copyright Complaints and Copyright Agent
</p>
<p>
    FieldReport.App respects the intellectual property of others, and expects Users to do the same. If you believe, in good
    faith, that any materials provided on or in connection with the FieldReport.App Platform infringe upon your copyright or
    other intellectual property right, please send the following information to FieldReport.App’s Copyright Agent at
    copyright@fieldreport.app:
</p>
<p>
    A description of the copyrighted work that you claim has been infringed, including the URL (Internet address) or other
    specific location on the FieldReport.App Platform where the material you claim is infringed is located. Include enough
    information to allow FieldReport.App to locate the material, and explain why you think an infringement has taken place;    
</p>
<p>
    A description of the location where the original or an authorized copy of the copyrighted work exists -- for example,
    the URL (Internet address) where it is posted or the name of the book in which it has been published;
</p>
<p>
    Your address, telephone number, and e-mail address;
</p>
<p>
    A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its
    agent, or the law;
</p>
<p>
    A statement by you, made under penalty of perjury, that the information in your notice is accurate, and that you are the
    copyright owner or authorized to act on the copyright owner’s behalf; and    
</p>
<p>
    An electronic or physical signature of the owner of the copyright or the person authorized to act on behalf of the owner
    of the copyright interest.
</p>
<p>
    Confidential Information
</p>
<p>
    You acknowledge that Confidential Information (as defined below) is a valuable, special and unique asset of
    FieldReport.App and agree that you will not disclose, transfer, use (or seek to induce others to disclose, transfer or
    use) any Confidential Information for any purpose other than using the FieldReport.App Platform in accordance with these
    Terms of Service. If relevant, you may disclose the Confidential Information to your authorized employees and agents
    provided that they are also bound to maintain the confidentiality of Confidential Information. You shall promptly notify
    FieldReport.App in writing of any circumstances that may constitute unauthorized disclosure, transfer, or use of
    Confidential Information. You shall use best efforts to protect Confidential Information from unauthorized disclosure,
    transfer or use. You shall return all originals and any copies of any and all materials containing Confidential
    Information to FieldReport.App upon termination of this Agreement for any reason whatsoever.
</p>
<p>
    The term “Confidential Information” shall mean any and all of FieldReport.App’s trade secrets, confidential and
    proprietary information, and all other information and data of FieldReport.App that is not generally known to the public
    or other third parties who could derive value, economic or otherwise, from its use or disclosure. Confidential
    Information shall be deemed to include technical data, know-how, research, product plans, products, services, customers,
    markets, software, developments, inventions, processes, formulas, technology, designs, drawings, engineering, hardware
    configuration information, marketing, finances, strategic and other proprietary and confidential information relating to
    FieldReport.App or FieldReport.App’s business, operations or properties, including information about FieldReport.App’s
    staff, Users or partners, or other business information disclosed directly or indirectly in writing, orally or by
    drawings or observation.
</p>
<p>
    Disclaimer of Warranties
</p>
<p>
    Use Of The FieldReport.App Platform Is Entirely At Your Own Risk
</p>
<p>
    THE FieldReport.App PLATFORM IS PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER
    EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
    PURPOSE, AND NON-INFRINGEMENT. FieldReport.App MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS
    OF THE CONTENT PROVIDED THROUGH THE FieldReport.App PLATFORM OR THE CONTENT OF ANY SITES LINKED TO THE FieldReport.App
    PLATFORM AND ASSUMES NO LIABILITY OR RESPONSIBILITY IN CONTRACT, WARRANTY OR IN TORT FOR ANY (I) ERRORS, MISTAKES, OR
    INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS
    TO AND USE OF THE FieldReport.App PLATFORM, (III) ANY ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL
    INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN; AND (IV) EVENTS BEYOND OUR REASONABLE CONTROL.
</p>
<p>
    FieldReport.App does not warrant, endorse, guarantee or assume responsibility for any service advertised or offered by a
    third party through the FieldReport.App Platform or any hyperlinked website or featured in any banner or other
    advertising, and FieldReport.App will not be a party to or in any way be responsible for monitoring any transaction
    between you and third-party Contractors of products or services. As with the purchase of a product or service through
    any medium or in any environment, you should use your best judgment and exercise caution where appropriate. Without
    limiting the foregoing, FieldReport.App and Affiliates do not warrant that access to the FieldReport.App Platform will
    be uninterrupted or that the FieldReport.App Platform will be error-free; nor do they make any warranty as to the
    results that may be obtained from the use of the FieldReport.App Platform, or as to the timeliness, accuracy,
    reliability, completeness or content of any Construction Service, service, information or materials provided through or
    in connection with the use of the FieldReport.App Platform. FieldReport.App and Affiliates are not responsible for the
    conduct, whether online or offline, of any User. FieldReport.App and Affiliates do not warrant that the FieldReport.App
    Platform is free from computer viruses, system failures, worms, trojan horses, or other harmful components or
    malfunctions, including during hyperlink to or from third-party websites. FieldReport.App and Affiliates cannot and do
    not guarantee that any personal information supplied by you will not be misappropriated, intercepted, deleted, destroyed
    or used by others.
</p>
<p>
    In addition, no individual or entity shall be a third party beneficiary of these terms. These terms are solely for the
    benefit of the parties to this Agreement and are not intended to and shall not be construed to give any person or entity
    other than you any interest, remedy, claim, liability, reimbursement, claim of action or any other rights (including,
    without limitation, any third party beneficiary rights), with respect to or in connection with any agreement or
    provision contained herein or contemplated hereby.
</p>
<p>
    No Liability
</p>
<p>
    You acknowledge and agree that FieldReport.App is only willing to provide the FieldReport.App Platform if you agree to
    certain limitations of our liability to you and third parties. Therefore, you agree not to hold FieldReport.App and
    Affiliates, or their corporate partners, liable for any claims, demands, damages, expenses, losses, governmental
    obligations, suits, and/or controversies of every kind and nature, known and unknown, suspected and unsuspected,
    disclosed and undisclosed, direct, indirect, incidental, actual, consequential, economic, special, or exemplary,
    including attorneys fees and costs (collectively, “Liabilities”) that have arisen or may arise, relating to your or any
    other party’s use of or inability to use the FieldReport.App Platform, including without limitation any Liabilities
    arising in connection with the conduct, act or omission of any User (including without limitation stalking, harassment
    that is sexual or otherwise, acts of physical violence, and destruction of personal property), any dispute with any
    User, any instruction, advice, act, or service provided by FieldReport.App and Affiliates and any destruction of your
    User Generated Content.
</p>
<p>
    UNDER NO CIRCUMSTANCES WILL FieldReport.App AND AFFILIATES OR THEIR CORPORATE PARTNERS BE LIABLE FOR ANY DIRECT,
    INDIRECT, INCIDENTAL, ACTUAL, CONSEQUENTIAL, ECONOMIC, SPECIAL OR EXEMPLARY DAMAGES (INCLUDING BUT NOT LIMITED TO LOST
    PROFITS, LOSS OF DATA, LOSS OF GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE, SYSTEM FAILURE, FAILURE TO STORE ANY
    INFORMATION OR OTHER CONTENT MAINTAINED OR TRANSMITTED BY FieldReport.App, OR THE COST OF SUBSTITUTE PRODUCTS OR
    SERVICES) ARISING IN CONNECTION WITH YOUR USE OF OR INABILITY TO USE THE FieldReport.App PLATFORM, EVEN IF ADVISED OF
    THE POSSIBILITY OF THE SAME. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL
    DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU IN THEIR ENTIRETY.
</p>
<p>
    FieldReport.App AND AFFILIATES EXPRESSLY DISCLAIM ANY LIABILITY THAT MAY ARISE BETWEEN USERS OF ITS FieldReport.App
    PLATFORM. FieldReport.App AND AFFILIATES ALSO DO NOT ACCEPT ANY LIABILITY WITH RESPECT TO THE QUALITY OR FITNESS OF ANY
    WORK PERFORMED VIA THE FieldReport.App PLATFORM.
</p>
<p>
    IF, NOTWITHSTANDING THE FOREGOING EXCLUSIONS, IT IS DETERMINED THAT FieldReport.App AND AFFILIATES OR THEIR CORPORATE
    PARTNERS ARE LIABLE FOR DAMAGES, IN NO EVENT WILL THE AGGREGATE LIABILITY, WHETHER ARISING IN CONTRACT, TORT, STRICT
    LIABILITY OR OTHERWISE, EXCEED THE LOWER OF (I) THE TOTAL FEES PAID BY YOU TO FieldReport.App DURING THE SIX (6) MONTHS
    PRIOR TO THE TIME SUCH CLAIM AROSE OR (II) ONE HUNDRED DOLLARS ($100), TO THE EXTENT PERMITTED BY APPLICABLE LAW.
</p>
<p>
    Some jurisdictions do not allow the exclusion of certain warranties or limitation of liability for consequential or
    incidental damages, so certain aspects of the limitations above may not apply to you.
</p>
<p>
    Release
</p>
<p>
    FieldReport.App IS NOT A PARTY TO OR OTHERWISE INVOLVED IN THE CONSTRUCTION AGREEMENT BETWEEN USERS OR IN THE COMPLETION OF THE CONSTRUCTION SERVICES, IN THE
    EVENT THAT YOU HAVE A DISPUTE WITH ONE OR MORE USERS, YOU HEREBY RELEASE FieldReport.App AND AFFILIATES AND THEIR
    CORPORATE PARTNERS FROM ANY AND ALL CLAIMS, DEMANDS, DAMAGES (INCLUDING DIRECT, INDIRECT, INCIDENTAL, ACTUAL,
    CONSEQUENTIAL, ECONOMIC, SPECIAL, OR EXEMPLARY), EXPENSES, LOSSES, GOVERNMENTAL OBLIGATIONS, SUITS AND/OR CONTROVERSIES
    OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED, ARISING OUT OF OR IN
    ANY WAY CONNECTED WITH SUCH DISPUTE.
</p>
<p>
    TO THE EXTENT APPLICABLE, YOU HEREBY WAIVE THE PROTECTIONS OF CALIFORNIA CIVIL CODE § 1542 (AND ANY ANALOGOUS LAW IN ANY
    OTHER APPLICABLE JURISDICTION) WHICH READS AS FOLLOWS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR
    DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER
    MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”
</p>
<p>
    Indemnification
</p>
<p>
    You hereby agree to indemnify, defend, and hold harmless FieldReport.App and Affiliates, and their attorneys, insurers,
    independent contractors, providers, successors and assigns (the “Indemnified Parties”) from and against any and all
    Liabilities incurred in connection with (i) your use or inability to use the FieldReport.App Platform or perform
    Construction Services, or (ii) your breach or violation of this Agreement; (iii) your violation of any law, or the
    rights of any User or third party and (iv) any content submitted by you or using your account to the FieldReport.App
    Platform, including, but not limited to the extent such content may infringe on the intellectual rights of a third party
    or otherwise be illegal or unlawful. You also agree to indemnify the Indemnified Parties for any Liabilities resulting
    from your use of software robots, spiders, crawlers, or similar data gathering and extraction tools, or any other action
    you take that imposes an unreasonable burden or loan on our infrastructure. FieldReport.App reserves the right, in its
    own sole discretion, to assume the exclusive defense and control at its own expense of any matter otherwise subject to
    your indemnification. You will not, in any event, settle any claim or matter without the prior written consent of
    FieldReport.App.
</p>
<p>
    Governing Law
</p>
<p>
    Except as provided in Section 16 or expressly provided otherwise, this Agreement and your use of the FieldReport.App
    Platform will be governed by, and will be construed under, the laws of the State of Delaware, without regard to choice
    of law principles. This choice of law provision is only intended to specify the use of Delaware law to interpret this
    Agreement.    
</p>
<p>
    No Agency; No Employment
</p>
<p>
    No agency, partnership, joint venture, employer-employee or franchiser-franchisee relationship is intended or created by
    this Agreement.
</p>
<p>
    General Provisions
</p>
<p>
    Failure by FieldReport.App to enforce any provision(s) of this Agreement will not be construed as a waiver of any
    provision or right. This Agreement constitutes the complete and exclusive agreement between you and FieldReport.App with
    respect to its subject matter, and supersedes and governs any and all prior agreements or communications. The provisions
    of this Agreement are intended to be interpreted in a manner which makes them valid, legal, and enforceable. Except for
    the “Agreement Prohibiting Class Actions and Non-Individualized Relief” in Section 16, in the event any provision is
    found to be partially or wholly invalid, illegal or unenforceable, (i) such provision shall be modified or restructured
    to the extent and in the manner necessary to render it valid, legal, and enforceable or, (ii) if such provision cannot
    be so modified or restructured, it shall be excised from the Agreement without affecting the validity, legality or
    enforceability of any of the remaining provisions. This Agreement may not be assigned or transferred by you without our
    prior written approval. We may assign or transfer this Agreement without your consent, including but not limited to
    assignments: (1) to a parent or subsidiary, (2) to an acquirer of assets, or (3) to any other successor or acquirer. Any
    assignment in violation of this Section 19 shall be null and void. This Agreement will inure to the benefit of
    FieldReport.App, its successors and assigns.
</p>
<p>
    Changes to this Agreement and the FieldReport.App Platform
</p>
<p>
    FieldReport.App reserves the right, at its sole and absolute discretion, to change, modify, add to, supplement, suspend,
    discontinue, or delete any of the terms and conditions of this Agreement (including the Terms of Service and Privacy
    Policy) and review, improve, modify or discontinue, temporarily or permanently, the FieldReport.App Platform or any
    content or information through the FieldReport.App Platform at any time, effective with or without prior notice and
    without any liability to FieldReport.App. FieldReport.App will endeavor to notify you of material changes by email, but
    will not be liable for any failure to do so. If any future changes to this Agreement are unacceptable to you or cause
    you to no longer be in compliance with this Agreement, you must terminate, and immediately stop using, the
    FieldReport.App Platform. Your continued use of the FieldReport.App Platform following any revision to this Agreement
    constitutes your complete and irrevocable acceptance of any and all such changes. FieldReport.App may also impose limits
    on certain features or restrict your access to part or all of the FieldReport.App Platform without notice or liability.
</p>
<p>
    No Rights of Third Parties
</p>
<p>
    None of the terms of this Agreement are enforceable by any persons who are not a party to this Agreement.
</p>
<p>
    Notices and Consent to Receive Notices Electronically
</p>
<p>
    You consent to receive any agreements, notices, disclosures and other communications (collectively, “Notices”) to which
    this Agreement refers electronically including without limitation by e-mail or by posting Notices on this Site. You
    agree that all Notices that we provide to you electronically satisfy any legal requirement that such communications be
    in writing. Unless otherwise specified in this Agreement, all notices under this Agreement will be in writing and will
    be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return
    receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or email; or the day after it
    is sent, if sent for next day delivery by a recognized overnight delivery service.    
</p>
<p>
    If you have any questions about these Terms of Service or about the FieldReport.App Platform, please contact us by email
    at support@fieldreport.app.
</p>
<p>
    Privacy Policy
</p>
<p>
    Last updated: 02/01/2020
</p>
<p>
    FieldReport.app ("us", "we", or "our") operates https://fieldreport.app (the
    "Site"). This page informs you of our policies regarding the collection, use and disclosure of
    Personal Information we receive from users of the Site.
</p>
<p>
    We use your Personal Information only for providing and improving the Site. By using the Site, you
    agree to the collection and use of information in accordance with this policy.
</p>
<p>
    Information Collection And Use
    While using our Site, we may ask you to provide us with certain personally identifiable information
    that can be used to contact or identify you. Personally identifiable information may include, but is not
    limited to your name, address, phone number, etc ("Personal Information").
</p>
<p>
    Log Data
    Like many site operators, we collect information that your browser sends whenever you visit our Site
    ("Log Data").
    This Log Data may include information such as your computer's Internet Protocol ("IP") address,
    browser type, browser version, the pages of our Site that you visit, the time and date of your visit,
    the time spent on those pages and other statistics.
    In addition, we may use third party services such as Google Analytics that collect, monitor and
    analyze this …
    The Log Data section is for businesses that use analytics or tracking services in websites or
    apps, like Google Analytics. For the full disclosure section, create your own Privacy Policy.
</p>
<p>
    Communications
    We may use your Personal Information to contact you with newsletters, marketing or promotional
    materials and other information.

    Cookies
    Cookies are files with small amount of data, which may include an anonymous unique identifier.
    Cookies are sent to your browser from a web site and stored on your computer's hard drive.
    Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all
    cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may
    not be able to use some portions of our Site.
</p>
<p>
    Security
    The security of your Personal Information is important to us, but remember that no method of
    transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to
    use commercially acceptable means to protect your Personal Information, we cannot guarantee its
    absolute security.
</p>
<p>
    Changes To This Privacy Policy
    This Privacy Policy is effective as of 02-01-2020 and will remain in effect except with respect to any
    changes in its provisions in the future, which will be in effect immediately after being posted on this
    page.
    We reserve the right to update or change our Privacy Policy at any time and you should check this
    Privacy Policy periodically. Your continued use of the Service after we post any modifications to the
    Privacy Policy on this page will constitute your acknowledgment of the modifications and your
    consent to abide and be bound by the modified Privacy Policy.
    If we make any material changes to this Privacy Policy, we will notify you either through the email
    address you have provided us, or by placing a prominent notice on our website.
</p>
<p>
    Contact Us
    If you have any questions about this Privacy Policy, please contact us support@fieldreport.app.
</p>