<div style="height: 90vh; overflow: auto;">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Company Name" (blur)="cnameBlur($event)" value="{{company.name}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Street 1" (blur)="s1Blur($event)" value="{{company.street1}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Street 2" (blur)="s2Blur($event)" value="{{company.street2}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="City" (blur)="cityBlur($event)" value="{{company.city}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="State" (blur)="stateBlur($event)" value="{{company.state}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Zip" (blur)="zipBlur($event)" value="{{company.zip}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Telephone" (blur)="teleBlur($event)" value="{{company.telephone}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Fax" (blur)="faxBlur($event)" value="{{company.fax}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Internet" (blur)="intBlur($event)" value="{{company.internet}}">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem">
      <input #fileinput style="display: none" type="file" (change)="addLogo($event)" accept=".png,.jpg" />
      <button mat-button (click)="fileinput.click()" style="padding: 0px; width: 100%;">Logo</button>
    </mat-list-item>
    <mat-list-item>
      <img #photo_ [attr.src]="company.logo1" style="border: 1px solid red;" />
    </mat-list-item>
  </mat-list>

  <button mat-button (click)="restoreDefault()" style="padding: 0px; width:100%">
    Restore Default
  </button>
</div>