<div class="maindiv">
    <div class="topdiv">
        <mat-toolbar>
            <button mat-button (click)="sidebar.toggle()" style="padding: 0px; min-width: 40px;">
                <mat-icon>list</mat-icon>
            </button>
            <span class="fill-remaining-space"></span>
            <div style="width: auto; overflow: hidden;">{{projname}}</div>
            <span class="fill-remaining-space"></span>
            <mat-icon #timer style="display: none;">access_time</mat-icon>
            <button mat-button (click)="addIssue()" style="padding: 0px; min-width: 40px;">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-button (click)="pdfIt()" style="padding: 0px; min-width: 40px;">
                <mat-icon>launch</mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="sett" style="padding: 0px; min-width:40px">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="middiv">
        <mat-sidenav-container style="width: 100%;">
            <mat-sidenav #sidebar mode="side" closed>
                <mat-list>
                    <mat-list-item *ngFor="let proj of projects" [ngClass]="{highlight: clickedItem === proj.key}"
                        class="unselectable" [routerLink]="['/issues/' + proj.key]">{{proj.name}}</mat-list-item>
                </mat-list>
            </mat-sidenav>
            <mat-sidenav-content (click)="sidebar.close()">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                        <td mat-cell *matCellDef="let element" (click)="currentIssue(element)"> {{element[column]}} </td>
                    </ng-container>
                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                            <div class="example-element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <app-issuelistitem [issue]="element">Issue
                                    {{element.no}}
                                </app-issuelistitem>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true;" style="height: 20px;" >
                    </tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <div class="botdiv">
        <mat-paginator #paginator [pageIndex]="pageIndex" [length]="rawissues.length" [pageSize]="10" [hidePageSize]="true" (page)="getNext($event)">
        </mat-paginator>
    </div>
</div>

<mat-menu #sett="matMenu">
    <mat-list>
        <mat-list-item><button mat-button (click)="issuesView()" style="width: 100%">Issues View</button>
        </mat-list-item>
        <mat-list-item><button mat-button (click)="drawingsView()" style="width: 100%">Drawings View</button>
        </mat-list-item>
        <mat-list-item><button mat-button (click)="addList()" style="width: 100%">Add List</button></mat-list-item>
        <mat-list-item><button mat-button (click)="listSettings()" style="width: 100%">List Settings</button>
        </mat-list-item>
        <mat-list-item><button mat-button (click)="companySettings()" style="width: 100%">Company Settings</button>
        </mat-list-item>
        <mat-list-item><button mat-button (click)="pdfIt()" style="width: 100%">PDF</button></mat-list-item>
        <mat-list-item><button mat-button (click)="about()" style="width: 100%">About</button></mat-list-item>
        <!-- <mat-list-item><button mat-button (click)="console()" style="width: 100%">Console</button></mat-list-item> -->
    </mat-list>
</mat-menu>