  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }

  tr.example-expanded-row {
    background: #ffffcc;
  }
 
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #ffffcc;
  }
  
  tr.example-element-row:active {
    background: #ffffcc;
  }

  tr.example-detail-row {
    background: #ffffcc;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
.example-element-description-attribution {
    opacity: 0.5;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.maindiv {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 100%;
}

.topdiv {
  display: flex;
  flex-grow: 0;
  /* border: 1px solid green; */
}

.middiv {
  display: flex;
  flex-grow: 99;
  /* border: 1px solid yellow; */
  overflow: auto;
}

.botdiv {
  display: flex;
  flex-grow: 0;
  margin: 0 auto; 
  /* border: 1px solid red; */
}
