<p *ngFor="let logt of logtxt">{{logt}}</p>
<button mat-button (click)="clear()" style="padding: 0px; width:50%">
  Clear
</button>
<button mat-button (click)="close()" style="padding: 0px; width:50%">
  Ok
</button>