<mat-list>
  <mat-list-item>Are you sure you want to permanently delete the issue?</mat-list-item>
  <mat-list-item>{{issue_description}}</mat-list-item>
  <mat-list-item>
    <button mat-button (click)="delete()" style="padding: 0px; width:50%; left:25%;">
      Delete
    </button>
  </mat-list-item>
</mat-list>