.maindiv {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 100%;
  }

.camdiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.middiv {
    overflow: auto;
  }