<div class="maindiv">
  <div class="camdiv"><video #video id="video" height="{{camHeight}}" autoplay playsinline></video></div>
  <div>
    <button id="snap" mat-button (click)="capture()" style="padding: 0px; min-width: 100%;">Snap Photo</button>
  </div>
  <div>
    <button mat-button (click)="stop()" style="padding: 0px; min-width: 100%;">Stop</button>
  </div>
  <div class="middiv">
    <mat-grid-list cols="2" rowHeight="{{imgHeight}}">
      <mat-grid-tile *ngFor="let c of captures"><img src="{{ c.dataUrl }}"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>