<mat-toolbar>
  <button mat-button (click)="sidebar.toggle()" style="padding: 0px; min-width: 40px;">
    <mat-icon>list</mat-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <span>Drawing's View</span>
  <span class="fill-remaining-space"></span>
  <!-- <input #fileinput style="display: none" type="file" (change)="uploadIt($event)" accept=".png,.jpg" /> -->
  <input #fileinput style="display: none" type="file" (change)="addPdfDrawing($event)" accept=".pdf" multiple/>
  <button mat-button (click)="fileinput.click()" style="padding: 0px; min-width: 40px;">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <!-- 
  <button mat-button (click)="addDrawing($event)" style="padding: 0px; min-width: 40px;">Add Drawing</button>
  <input #fileinput type="file" name="myFile" (change)="addDrawing($event)" accept=".png,.jpg" /> -->
  <mat-icon #timer style="display: none;">access_time</mat-icon>
  <button mat-button (click)="pdfIt()" style="padding: 0px; min-width: 40px;">
    <mat-icon>launch</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="sett" style="padding: 0px; min-width:40px">
    <mat-icon>settings</mat-icon>
  </button>
  </mat-toolbar>

<div style="height: 80vh; width: 100vw; overflow: auto;">
  <mat-sidenav-container class="ap-container" style="width: 100%; height: 100%;">
    <mat-sidenav #sidebar mode="side" closed style="height: 75vh;">
      <mat-list>
        <mat-list-item *ngFor="let proj of projects" [ngClass]="{highlight: clickedItem === proj.key}" class="unselectable" [routerLink]="['/drawings/' + proj.key]">{{proj.name}}</mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content (click)="sidebar.close()">
      <ng-container *ngIf="drawings!=null">
        <div *ngFor="let dwg of drawings" style="height: 100%;">
          <app-drawing [dwg]="dwg"></app-drawing>
        </div>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<mat-menu #sett="matMenu">
  <mat-list>
    <mat-list-item><button mat-button (click)="issuesView()" style="width: 100%">Issues View</button>
    </mat-list-item>
    <mat-list-item><button mat-button (click)="drawingsView()" style="width: 100%">Drawings View</button>
    </mat-list-item>
    <mat-list-item><button mat-button (click)="addList()" style="width: 100%">Add List</button></mat-list-item>
    <mat-list-item><button mat-button (click)="listSettings()" style="width: 100%">List Settings</button>
    </mat-list-item>
    <mat-list-item><button mat-button (click)="companySettings()" style="width: 100%">Company Settings</button>
    </mat-list-item>
    <!-- <mat-list-item><button mat-button (click)="pdfIt()" style="width: 100%">PDF</button></mat-list-item>
    <mat-list-item><button mat-button (click)="about()" style="width: 100%">About</button></mat-list-item>
    <mat-list-item><button mat-button (click)="console()" style="width: 100%">Console</button></mat-list-item> -->
  </mat-list>
</mat-menu>