<div style="height: 100vh;">
<div style="height: 85%;">
<!-- <ng2-pdfjs-viewer #pdfViewer (click)="click()" style="width: 100%;" pdfSrc="{{url}}"></ng2-pdfjs-viewer> -->
<canvas #canvasEl></canvas>
</div>
<div>
<mat-toolbar>
    <table width="100%">
      <tr>
        <Td>
          <button mat-button (click)="close()" style="padding: 0px; width:100%">
            Close
          </button>
        </Td>
      </tr>
    </table>
  </mat-toolbar>
</div>
</div>

