<mat-list>
  <mat-list-item>Are you sure you want to permantently delete:</mat-list-item>
  <mat-list-item>{{project_number}}</mat-list-item>
  <mat-list-item>{{project_name}}</mat-list-item>
  <mat-list-item>
      <button mat-button (click)="delete()" style="padding: 0px; width:50%; left:25%;">
          Delete
      </button>
  </mat-list-item>
</mat-list>