<div *ngIf="afAuth.authState | async as user; else showLogin" (window:resize)="onResize($event)" style="height: 100%">
    <ng-container *ngIf="user.emailVerified; else showLogin">
        <span *ngIf="_update">There is an update!</span>
        <router-outlet></router-outlet>
    </ng-container>
</div>

<div #myspinner class="matspin">
    <mat-progress-spinner mode="indeterminate" style="z-index: 99; margin: auto;"></mat-progress-spinner>
</div>

<ng-template #showLogin>
    <div style="width: 300px;">
        <table width="300px">
            <tr height="35px">
                <td colspan=2 width="100%" align="left">
                    <h5>Login</h5>
                </td>
            </tr>
            <tr height="35px">
                <td>
                    <label>Email</label>
                </td>
                <td>
                    <input #namein type="text" id="email" required>
                </td>
            </tr>
            <tr height="35px">
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input #pwin type="password" id="password" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%" height="35px">
                        <tr>
                            <td width="50%" align="center">
                                <button (click)="login($event)" style="width: 125px">Login</button>
                            </td>
                            <td width="50%" align="center">
                                <button (click)="create($event)" style="width: 125px">Create</button>
                            </td>
                            <td width="50%" align="center">
                                    <button (click)="resetPassword()" style="width: 125px">Reset Password</button>
                                </td>
                            <td width="50%" align="center">
                                <button (click)="sendVerification()" style="width: 125px">Verify Email</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</ng-template>
