/* #dragwrapper {
    margin: 0px;
    background: transparent;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    position: relative;
    border: 5px solid green;
}

#drag {
    touch-action: auto;
    height: 300px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
} */

.flmenu {
    position: fixed;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    border: 3px solid yellowgreen;
}

.pcontain {
    position: relative;
    border: 3px solid blueviolet;
}
