<div id="pcontain">
    <canvas id="canvas" style="border: 5px solid red;"></canvas>
</div>
<!-- <div class="flmenu" (click)="dropClk()"></div> -->


<!--
<div #dragwrapper id="dragwrapper" (pan)="pan($event)" (panend)="panend($event)" (pinch)="pinch($event)"
    (pinchstart)="pinchstart($event)" (pinchend)="pinchend($event)" (dblclick)="doubletap($event)">
    <div #drag id="drag">
        <canvas id="canvas" style="border: 5px solid red;"></canvas>
      <canvas #baseCanvas id="canvas" long-press (mousedown)="canvasClk($event)"
            style="border: 5px solid red;"></canvas>
    </div>
</div>
-->