<mat-list>
    <mat-list-item>By suppressing the about dialog you agree to the terms of our user and privacy agreements.</mat-list-item>
    <mat-list-item>
        <button mat-button (click)="cancel()" style="padding: 0px; width:50%;">
            Cancel
        </button>
        <button mat-button (click)="suppress()" style="padding: 0px; width:50%;">
            Agree
        </button>
    </mat-list-item>
  </mat-list>