<h4 mat-dialog-title>
  <mat-toolbar role="toolbar" class="task-header">
      <span> About FieldReport.App</span>
      <span class="fx-spacer"></span>
      <button mat-icon-button (click)="close()">
          <mat-icon mat-list-icon>close</mat-icon>
      </button>
  </mat-toolbar>
</h4>
<div mat-dialog-content style="display: flex; flex-flow: column; height: 100%;">
  <div style="height: 100%; overflow: auto">
    <p>
      Welcome to FieldReport.App, a free field report system for the A&E and Construction Industry.
    </p>
    <p>
      With this Progressive Web App you can create comprehensive punch list reports with tagged drawings and pictures that are
      properly correlated with their related issue. You can then print reports to formatted PDF's directly from your mobile device or desktop with or without a network connection.
    </p>
    <!-- <p>
      Youtube video demonstrating app usage.
    </p>
    <p>
      <button mat-button (click)="youTube()" style="border: solid 1px red;">
        YouTube Intro
      </button>
    </p> -->
    <p>
      Link to monitored Google group for information on how to use the app, ask questions and provide feature requests.
    </p>
    <p>
      <button mat-button (click)="googleGroup()" style="border: solid 1px red;">
        Google Group
      </button>
    </p>
    <p>
      Link to end user and privacy agreement.
    </p>
    <p>
      <button mat-button (click)="userAgreement()" style="border: solid 1px red;">
        User & Privacy Agreement
      </button>
    </p>
    
  </div>
  <div style="flex: 0 1 80px;">
    <mat-toolbar>
      <table width="100%">
        <tr>
          <td>
            <mat-checkbox #aboutchk (change)="scheck($event.checked)" [(ngModel)]="checked"><span style="font-size: 14px;">Suppress</span></mat-checkbox>
          </td>
          <Td>
            <button mat-button (click)="close()" style="padding: 0px; width:95%">
              Ok
            </button>
          </Td>
        </tr>
      </table>
    </mat-toolbar>
  </div>
</div>


<!-- <p>
  There is no work or project data being stored on a remote server. All the data is stored locally
  on your device. Once the PDF report is generated it will open so you can save it or email it to your client.
</p>
<p>
The best way to see the functionality of the app is to try it out. It will work on Android or iOS devices. On an iOS device make sure the camera is
enabled within the Safari App and that the Pop-Up blocker is off.
</p>
<p>
  The app will work without a data connection.
</p>
<p>
Once the app is open, press on the gear symbol in the top right and add a new list using the “Add List” button.
Once a new project is added it will show up in the reports sidbbar list. Open the sidebar list by clicking on
the list icon in the top left menu bar.
</p>
<p>
This will open the sidebar where you can then click on the project and it will highlight yellow. This is the
current active project.
</p>
<p>
Once the project is active you can add issues to the list. Clicking outside of the sidebar list will close it.
You can then click the “Add Issue” button in the middle of the top menu-bar. You should see an issue populate in the
main window.
</p>
<p>
By clicking on the issue within the main list, it will open the issue where you can add the details of the issue
and add pictures by pressing the “Add Photo” button within each of the issue items.
</p>
<p>
You will also see delete buttons for each issue and for each photo, which you can use to delete the photos or
issues you don’t want.
</p>
<p>
In order to edit or delete an issues list, click on the gear on the right of the top menu. Then click on “List
Settings”. Here you can change the project settings that are reflected in the final PDF report or delete an
issues
list.
</p>
<p>
The PDF button in the main gear settings menu generates the PDF. It will open a new window in your browser with
the
PDF, including all the issues and their relative photos.
</p>
<p>
That’s it!.
</p>
<p>
Thank you for your support, I appreciate your feedback.
</p>
<p>
Developer,<br>
David Edelstein, PE<br>
dve3413@gmail.com
</p> -->