/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-root, app-issuelist {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 4px;
  height: 100%;
  overflow: hidden;
}

.app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
  }

  .app-full-bleed-dialog2 .mat-dialog-container {
    padding: 10;
  }

  .mat-checkbox-inner-container {
    width: 13px!important;
    height: 13px!important;
  }
