<canvas #baseCanvas (mousedown)="onClick()" style="border: 5px solid red;"></canvas>
<!-- <img (click)="onClick()" #dwg_ [attr.src]="dwg.dataUrl" [attr.width]="(dwg.width * dwg.scale)" [attr.height]="(dwg.height * dwg.scale)"/> -->
<button mat-button (click)="delPress()" style="width: 100%;">Delete Drawing</button>
