<div style="height: 100vh; overflow: auto;">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <mat-icon #timer style="display: none;">access_time</mat-icon>
        <button mat-button (click)="pdfIt()" style="padding: 0px; min-width: 40px;">
            <mat-icon>launch</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="sett" style="padding: 0px; min-width:40px">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>
    <mat-panel-title>
        {{issue.no}}
    </mat-panel-title>
    <mat-panel-description>
        {{issue.description}}
    </mat-panel-description>

    <mat-grid-list cols="3" rowHeight="25px" style="width: 100%;">
        <mat-grid-tile style="width: 20%; text-align: left;">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Trade" (blur)="tradeBlur($event)" value="{{issue.trade}}" [matAutocomplete]="auto">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile style="width: 60%;">
            <mat-form-field style="width: 95%;">
                <input matInput placeholder="Floor" (blur)="floorBlur($event)" value="{{issue.floor}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile style="width: 20%;">
            <mat-form-field style="width: 100%;">
                <input matInput [matDatepicker]="picker" placeholder="Date" (dateInput)="dateBlur('input', $event)"
                    (dateChange)="dateBlur('change', $event)" [value]="date.value">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-form-field style="width: 100%; height: 25px;">
        <input matInput placeholder="Location" (blur)="locationBlur($event)" value="{{issue.location}}">
    </mat-form-field>

    <mat-form-field style="width: 100%; padding-top: 5px;">
        <textarea cdkTextareaAutosize matInput placeholder="Description" (blur)="descriptionBlur($event)"
            value="{{issue.description}}"></textarea>
    </mat-form-field>

    <ng-container *ngIf="photos!=null">
        <div *ngFor="let photo of photos">
            <app-photo [photo]="photo"></app-photo>
        </div>
    </ng-container>

    <mat-action-row>
        <input #fileinput style="display: none" type="file" (change)="addPhoto2($event)" accept=".png,.jpg" />
        <button mat-button (click)="fileinput.click()" style="padding: 0px; width: 100%;">Add Photo</button>
        <!-- <button mat-button (click)="addPhoto()" style="width: 50%;">Add Photo</button> -->
        <!-- <button mat-button (click)="issueView()" style="width: 50%;">Issue View</button> -->
    </mat-action-row>

    <mat-action-row>
        <button mat-button (click)="delPress()" style="width: 100%;">Delete Issue</button>
    </mat-action-row>
</div>

<mat-menu #sett="matMenu">
    <mat-list>
        <mat-list-item><button mat-button (click)="issuesView()" style="width: 100%">Issues View</button>
        </mat-list-item>
        <mat-list-item><button mat-button (click)="drawingsView()" style="width: 100%">Drawings View</button>
        </mat-list-item>
        <mat-list-item><button mat-button (click)="addList()" style="width: 100%">Add List</button></mat-list-item>
        <mat-list-item><button mat-button (click)="listSettings()" style="width: 100%">List Settings</button>
        </mat-list-item>
        <mat-list-item><button mat-button (click)="companySettings()" style="width: 100%">Company Settings</button>
        </mat-list-item>
        <mat-list-item><button mat-button (click)="pdfIt()" style="width: 100%">PDF</button></mat-list-item>
        <!-- <mat-list-item><button mat-button (click)="about()" style="width: 100%">About</button></mat-list-item>
        <mat-list-item><button mat-button (click)="console()" style="width: 100%">Console</button></mat-list-item> -->
    </mat-list>
</mat-menu>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
</mat-autocomplete>