<mat-list role="list">
  <mat-list-item role="listitem">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Project Name" (blur)="pnameBlur($event)" value="{{project.name}}">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Project Number" (blur)="pnumberBlur($event)" value="{{project.number}}">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Header-Right Text" (blur)="headerrighttextBlur($event)" value="{{project.top_right_text}}">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Footer-Left Text 1" (blur)="footerlefttext1Blur($event)" value="{{project.bot_left_text_1}}">
    </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Footer-Left Text 2" (blur)="footerlefttext2Blur($event)" value="{{project.bot_left_text_2}}">
    </mat-form-field>
  </mat-list-item>

  <mat-list-item>
    <h4>Image Quality</h4>
    <mat-form-field>
        <mat-select #qualsel [(value)]="imgquality" (selectionChange)="onChange($event)">
          <mat-option value="good">Good</mat-option>
          <mat-option value="better">Better</mat-option>
          <mat-option value="best">Best</mat-option>
        </mat-select>
      </mat-form-field>
  </mat-list-item>

  <mat-list-item role="listitem">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Report Date" (blur)="reportdateBlur($event)" value="{{project.report_date}}">
    </mat-form-field>
  </mat-list-item>

</mat-list>

<button mat-button (click)="restoreDefault()" style="padding: 0px; width:50%">
  Restore Default
</button>

<button mat-button (click)="delete()" style="padding: 0px; width:50%">
  Delete
</button>